viewport-units {
    height: 100%;
    display: block;
    overflow-y: auto;
    padding-right: 20px;

    & img {
        max-height: 50dvh;
    }

    & a {
        color: hotpink;
        text-decoration: none;
    }

    & a:hover {
        text-decoration: underline;
        background-color: inherit;
    }
}