speaker-pres {
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    background-color: #2b338d;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo {
        position: absolute;
        top: 0;
        left: 0;
    }

    .sponsors {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .logo {
        position: absolute;
        left: 0;
        margin: 3.1rem 0 0 3.2rem;
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 100%;
        }

        .sub-title {
            color: #ffa447;
            font-weight: 600;
            font-size: 54;
            margin: auto;
        }
    }

    .title {
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align: center;

        .presentation-title {
            margin: 0 4.5rem;
            font-size: 86;
            color: white;
        }

        .presenter {
            font-size: 44;
            color: #ea82b3;
        }
    }


    .sponsors {
        position: absolute;
        bottom: 0;
        width: 95%;
        display: flex;
        justify-content: space-around;
        margin: 0 0 1.5rem 0;
        align-items: center;

        img {
            /* width: 200px;
            height: 150px; */
            object-fit: contain;
            max-width: 100%;
        }

        .tall {
            height: 100px;
        }
    }
}