speaker-pres {
    display: block;
    width: 100dvw;
    height: 100dvh;
    background-color: #2b338d;

    .logo {
        width: 30%;

        .sub-title {
            color: #ffa447;
        }
    }

    h1 {
        color: white
    }

    h2 {
        color: #ea82b3;
    }

    .sponsors {}
}