scrollbased-anim {
    scroll-timeline-name: --page;
}

@keyframes block-grow {
    from {
        background-color: purple;
        transform: scaleX(0.5);
    }

    to {
        background-color: hotpink;
        transform: scaleX(1);
    }
}

.content-port {
    width: 300px;
    height: 200px;
    overflow-y: scroll;

    .animated-block {
        height: 400px;

        animation-name: block-grow;
        animation-timeline: scroll(nearest block);
        animation-timing-function: linear;
    }
}

.content-port {
    border: 2px solid var(--primary-text-color);
}

.progress-bar {
    height: 4px;
    position: fixed;
    left: 0;
    animation-name: reading-bar;
    animation-timeline: --page;
    animation-timing-function: linear;
}

@keyframes reading-bar {
    from {
        background-color: rgba(126, 29, 135, 0.3);
        width: 0%;
    }

    to {
        background-color: rgb(126, 29, 135);
        width: 100%;
    }
}