scrollbased-anim {
    display: block;
    overflow-x: hidden;
    height: 100dvh;
    scroll-snap-type: y mandatory;

    img {
        height: 95%;
    }
}

@keyframes bar-grow {
    from {
        background-color: purple;
        transform: scaleX(0);
    }

    to {
        background-color: hotpink;
        transform: scaleX(1);
    }
}

.content-port {
    width: 300px;
    height: 200px;
    overflow-y: scroll;

    .animated-block {
        height: 400px;

        animation-name: bar-grow;
        animation-timeline: scroll(nearest block);
        animation-timing-function: linear;
    }
}