intro-page {
    display: block;
    overflow-x: hidden;
    height: 100dvh;
    scroll-snap-type: y mandatory;

    h1.main {
        text-align: center;
        text-wrap: balance;
        margin: 1rem 3rem;
    }

    .gradient {
        background: linear-gradient(to right, rgb(79, 17, 141), rgb(171, 31, 101));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        width: fit-content;
    }

    img.main-image {
        height: 70%;
        width: 80%;
        margin: 10px;
        object-fit: contain;
        align-self: center;
    }

    img.logo {
        transition: all 0.5s;
        position: absolute;
        bottom: 1rem;
        right: 2rem;
        width: 3rem;
        rotate: -15deg;

        &.zoom {
            position: absolute;
            bottom: 40%;
            right: 10%;
            width: 80%;
            rotate: 0deg;
        }
    }

    .side-by-side {
        display: flex;
        flex-direction: row;
        height: 70%;

        img {
            width: 50%;
        }

        .tall {
            height: 70%;
        }

        .wide {
            padding-right: 40px;
            width: 60%;
        }
    }

    ul {
        list-style-type: none;
    }

    ul li {
        display: flex;
        align-items: center;
    }

    ;

    ul li::before {
        font-size: 0.5rem;
        content: "💜";
        margin-right: 10px;
    }

    .center-div {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-size: 5rem;
        height: 100dvh;
    }

}