flex-gap {
    display: block;
    overflow-y: scroll;
    height: 100dvh;
    scroll-snap-type: y mandatory;

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem 1rem;
    }

    .card {
        width: 30%;
        height: 120px;
        background-color: purple;
        border-radius: 10px;
    }
}