viewport-units {
    display: block;
    overflow-y: scroll;
    height: 100dvh;
    scroll-snap-type: y mandatory;

    & img {
        max-height: 70dvh;
    }

    footer {
        margin-top: auto;
        padding-bottom: 1rem;

        a {
            color: hotpink;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
            background-color: inherit;
        }
    }


}