color-functions {
    display: block;
    overflow-y: scroll;
    height: 100dvh;
    scroll-snap-type: y mandatory;

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: 90%;

        .box {
            height: 8rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .a98-rgb {
            background-color: color(a98-rgb 0 0.8 0.8);
        }

        .prophoto-rgb {
            background-color: color(prophoto-rgb 0 0.8 0);
        }

        .srgb-linear {
            background-color: color(srgb-linear 1 0.5 0);
        }

        .display-p3 {
            background-color: color(display-p3 0.8 0.4 0.2);
        }

        .rec2020 {
            background-color: color(rec2020 1 0 1);
        }

        .srgb {
            background-color: color(srgb 0 255 0);
        }
    }
}