color-functions {
    display: block;
    overflow-y: scroll;
    height: 100dvh;
    scroll-snap-type: y mandatory;

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;

        .box {
            height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .srgb-linear {
            background-image: linear-gradient(to right in srgb-linear, blue, red);
        }

        .lab {
            background-image: linear-gradient(to right in lab, blue, red);

        }

        .oklab {
            background-image: linear-gradient(to right in oklab, blue, red);
        }

        .srgb {
            background-image: linear-gradient(to right in srgb, blue, red);
        }
    }
}