css-nesting {
    .section-one {
        border: 1px solid white;
        border-radius: 10px;
        padding: 0px 10px 20px 10px;
        margin: 10px;

        &::before {
            content: 'section';
            color: white;
            background-color: black;
            font-size: 0.8rem;
            padding: 0 8px;
            position: relative;
            top: -20px;
            left: 5px;
            z-index: 10;
        }

        h2 {
            background: linear-gradient(to right, purple, hotpink);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            width: fit-content;
        }
    }
}