:root {
  --menu-width: 200px;
}

html {
  background-color: black;
  color: beige;
  font-size: 26px;
}

body {
  margin: 0;
  font-family: sans-serif;
}

my-app {
  display: grid;
  grid-template-columns: var(--menu-width) 1fr;
  color: white;
  gap: 20px;
  height: 100dvh;
  overflow: hidden;

  nav {
    font-size: initial;
    background-color: black;

    display: flex;
    flex-direction: column;
    height: 100dvh;

    transition: all 0.5s ease-in-out;

    a {
      padding: 10px;
      text-decoration: none;
      color: black;
    }

    a:hover {
      background-color: darkgray;
    }

    .active {
      background-color: black;
      color: black;
      text-shadow: 0 0 10px hotpink, 0 0 20px hotpink, 0 0 30px hotpink, 0 0 40px hotpink;
    }
  }

  nav:hover {
    color: black;
    background-color: rgb(196, 178, 212);
    text-shadow: none;
  }

  & au-viewport {
    height: 100dvh;
  }

  h2 {
    margin-bottom: 0.3rem;
  }

  p {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }
}



.slides-section {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  height: 100dvh;

  & h1 {
    align-self: center;
  }

  & img {
    align-self: center;

    height: 80%;
    width: 80%;
    object-fit: contain;
  }

  .side-by-side {
    display: flex;
    flex-direction: row;
    height: 70%;

    img {
      width: 50%;
    }

    .tall {
      height: 70%;
    }

    .wide {
      width: 70%;
    }
  }
}

.slides-section {
  .bullets {
    font-size: larger;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}



pre {
  width: fit-content;
  background-color: darkslategrey;
  /* top, right, bottom, left */
  box-shadow: inset 0px 4px 3px -2px #000,
    inset -4px 0px 3px -2px #fff,
    inset 0px -4px 3px -2px #fff,
    inset 4px 0px 3px -2px #000;
  /* or merged top-left, bottom-right */
  box-shadow: inset 4px 4px 3px -2px #000,
    inset -4px -4px 3px -2px #fff;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
  min-width: 50dvw;
}

xmp {
  width: fit-content;
  background-color: darkslateblue;
  /* top, right, bottom, left */
  box-shadow: inset 0px 4px 3px -2px #000,
    inset -4px 0px 3px -2px #fff,
    inset 0px -4px 3px -2px #fff,
    inset 4px 0px 3px -2px #000;
  /* or merged top-left, bottom-right */
  box-shadow: inset 4px 4px 3px -2px #000,
    inset -4px -4px 3px -2px #fff;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
  min-width: 50dvw;

}

h2 {
  margin-top: 30px;
}