html {
  background-color: black;
  color: beige;
}

body {
  margin: 0;
  font-family: sans-serif;
}

my-app {
  display: grid;
  grid-template-columns: 200px 1fr;
  color: white;
  gap: 20px;
  height: 100dvh;
  overflow: hidden;

  & au-viewport {
    height: 100dvh;
  }
}

nav {
  background: #eee;
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: darkgray;
}

.active {
  background-color: lightgray;
}

pre {
  width: fit-content;
  background-color: darkslategrey;
  /* top, right, bottom, left */
  box-shadow: inset 0px 4px 3px -2px #000,
    inset -4px 0px 3px -2px #fff,
    inset 0px -4px 3px -2px #fff,
    inset 4px 0px 3px -2px #000;
  /* or merged top-left, bottom-right */
  box-shadow: inset 4px 4px 3px -2px #000,
    inset -4px -4px 3px -2px #fff;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
}