grid-page {
    display: block;
    overflow-x: hidden;
    height: 100dvh;
    scroll-snap-type: y mandatory;

    container-type: inline-size;
}

.container {
    width: 95%;
    background-color: coral;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item {
    background-color: #f2f2f2;
    color: black;
    padding: 20px;
    text-align: center;
}

.named-container {
    width: 95%;

    background-color: green;
    display: grid;
    gap: 20px;
    grid-template-areas: "header header header" "left main sidebar" "footer footer footer";

    .item1 {
        background-color: violet;
        grid-area: header;
    }

    .item2 {
        grid-area: left;
    }

    .item3 {
        grid-area: main;
    }

    .item4 {
        grid-area: sidebar;
    }

    .item5 {
        background-color: violet;
        grid-area: footer;
    }
}

.query-container {
    background-color: green;
    display: grid;
    gap: 20px;
    grid-template-areas: "header header header" "left-side main sidebar" "footer footer footer";

    width: 95%;

    .item1 {
        background-color: violet;
        grid-area: header;
    }

    .item2 {
        grid-area: left-side;
    }

    .item3 {
        grid-area: main;
    }

    .item4 {
        grid-area: sidebar;
    }

    .item5 {
        background-color: violet;
        grid-area: footer;
    }
}

@container (max-width: 600px) {
    .query-container {
        grid-template-areas: "header" "main" "footer";

        .item2 {
            display: none;
        }

        .item4 {
            display: none;
        }
    }
}