scroll-snap {
    display: block;
    overflow-x: hidden;
    height: 100dvh;
    scroll-snap-type: y mandatory;

    .card-container {
        width: 300px;
        height: 450px;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }

    .card {
        width: 300px;
        height: 230px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
    }

    .center-align {
        scroll-snap-align: center;
    }

    .top-align {
        scroll-snap-align: start;
    }

    .bottom-align {
        scroll-snap-align: end;
    }

    .none-align {
        scroll-snap-align: none;
    }
}